doctype 5
html(lang="en")
	head
		title The Example API // Coming Soon
		meta(charset="UTF-8")
	
		link(rel="stylesheet", href="/css/app.css")
	
		script(src="/js/app.js")

	body
		.row
			.twelve
				h1 The Example API // Coming Soon
		
		.row
			.twelve
				p The feature you requested is not quite ready yet. Please try again soon. Or check us out on github!
