doctype 5
html(lang="en")
	head
		title The Example API
		meta(charset="UTF-8")
	
		link(rel="stylesheet", href="/css/app.css")
	
		script(src="/js/app.js")

	body
		article(id="49020834", slug="my-first-post-sample")
			.row
				.twelve
					h1.title My First Post Sample
			
			.row
				.twelve
					.postMeta
						date
							span Created: March 26, 2013 1:59PM
							span Last Updated: April 9, 2013 3:01PM
						p Tagged with: web development, api, demo, example, node
		
			.row
				.twelve
					img.postThumbnail(src="http://lorempixel.com/200/200")
					p.mainContents Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta in at error ipsam vel ipsum odit tempora ipsa nulla facere quas dolore eligendi incidunt esse molestias aut. Explicabo optio eaque pariatur modi atque aperiam illo sed velit doloribus nam molestiae unde ab sunt reprehenderit recusandae earum blanditiis quibusdam fuga maiores placeat numquam magni labore repudiandae esse laborum ipsum aliquid? Cupiditate hic quia dolor facilis saepe eligendi error recusandae quo magnam vel? Dicta libero magni voluptates porro ducimus quibusdam in commodi. Repellat itaque ad magni doloremque sed similique alias debitis esse corporis eveniet deserunt et molestias placeat quia impedit velit.
