doctype 5
html(lang="en")
	head
		title The Example API
		meta(charset="UTF-8")
	
		link(rel="stylesheet", href="/css/app.css")
	
		script(src="/js/app.js")

	body
		.row
			.twelve
				h1 The Example API
		
		.row
			.twelve
				p The Example API is a free service providing example data for API calls for when you have application logic you need to test but you don't have an API prepared server-side to respond to your queries.
				
				h2 How to use
				
				p Send your queries and you'll get data back.
				
				h2 Entry points
				
				ul
					li json
					li xml
					li jsonp