doctype 5
html(lang="en")
	head
		title The Example API \\ That method is obsolete
		meta(charset="UTF-8")
	
		link(rel="stylesheet", href="/css/app.css")
	
		script(src="/js/app.js")

	body
		.row
			.twelve
				h1 WARNING
		
		.row
			.twelve
				p. The method or data type you're attempting to use/request is obsolete and should no longer be used. Please try one of the many other available methods or data types. <a href="/">See the complete list here.</a>